.nameoffer{
  font-family: "Great Vibes",cursive;
}
.username{
  border-radius:0.5rem;
  margin-bottom: 30px;
  text-decoration: none;
font-family: "Style Script", cursive;
position: relative;
width: 300px;
height: 400px;
box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
border-radius: 15px;
margin: 30px;
border-top: 1px solid rgba(255, 255, 255, 0.5);
border-left: 1px solid rgba(255, 255, 255, 0.5);
backdrop-filter: blur(5px);
transform-style: preserve-3d;
transform: perspective(800px);
background-color: "#B8F6DE"

}
.contain{
  margin-top: 30px;
flex-wrap: wrap;

}

.container h3{
  display: flex;
  justify-content: center;
}
.flippy-cardContainer{
  border-radius:0.5rem;
opacity: 0.6px;
  background-color: rgb(241, 252, 252);
}

ul{
  text-decoration: none;
  list-style-type: none;
}
ul li {
  margin:0.75rem 0rem;
  padding: 0%;
  font-family: "Great Vibes",cursive;

  
}

.list{
  display:flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin : 5rem 9rem;
  background-color: white;
  opacity: 0.6;
}
/***button */

.aj,
.aj::after {
  -webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
  -o-transition: all 0.3s;
	transition: all 0.3s;
}

.aj {
  background: url(https://media.giphy.com/media/l3q2F9IiX4G1oEOn6/giphy-downsized-large.gif);
  border: 3px solid #fff;
  border-radius: 25px 4px;
  color: rgb(212, 57, 179);
  font-weight: bold;
  margin: 1em auto;
  padding: 1em 4em;
  position: relative;
  text-transform: uppercase;
  font-family: "Great Vibes",cursive;

}

.aj::before,
.aj::after {
  background: #fff;
  content: '';
  position: absolute;
  z-index: -1;
}

.aj:hover {
  color: #9122d1;
}

/* BUTTON 1 */
.aj::after {
  height: 0;
  left: 0;
  top: 0;
  width: 100%;
}

.aj:hover:after {
  height: 100%;
}